<div class="container">
	<div class="title-box text-center">
		<h1 class="page-title">TOP MEMES</h1>
		<p>in the past</p>
		<div class="ari-dropdown">
			<h1 class="range-choice">
				24 HOURS
				<i class="fas fa-angle-right rotate"></i>
			</h1>
			<div class="aridrop-box">
				<h1 class="range-choice aridrop">WEEK</h1>
				<h1 class="range-choice aridrop">MONTH</h1>
				<h1 class="range-choice aridrop">YEAR</h1>
			</div>
		</div>
	</div>
	<div class="meme-box">
		<div class="row">
			<div class="col-sm">
				<% @memes.each do |meme| %>
					<%= link_to meme_path(meme) do %>
						<%= cl_image_tag meme.photo, class: "square-meme" %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>