.meme-max-width {
	max-width: 530px;

}

.meme-and-arrows {
	display: flex;
	justify-content: center;
	align-items: center;
}

.meme-title {
	font-family: 'Sarabun', sans-serif;
	font-size: 3em;
	margin-top: 18px;
	margin-bottom: 25px;
}

.arrow {
	font-size: 5.3em;
	padding: 15px;
	color: #3FB04F;
	-webkit-text-stroke-width: 2.3px;
  -webkit-text-stroke-color: #008521;
  cursor: pointer;
}

.arrow:hover {
	color: #008521;
  -webkit-text-stroke-color: #3FB04F;
}

.user-pic {
	height: 26px;
	width: 26px;
	object-fit: cover;
}

.posted-by {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0;
	width: 530px;
	margin-right: auto;
	margin-left: auto;
}

.flex {
	display: flex;
}

.user-text {
	background-color: #109136;
	padding-left: 5px;
	padding-right: 5px;
}

hr {
	border-width: 2px;
	border-color: #3FB04F;
	width: 75%;
	opacity: 0.6;
	margin-top: 20px;
}

.voting {
	margin-right: auto;
	margin-left: auto;
	width: 530px;
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	p {
		margin: 0;
	}
	i {
		margin-top: 6px;
	}
}

.epic-win {
	margin-right: 17px;
	color: #5ACF34;
	cursor: pointer;
}

.epic-win-voted {
  margin-right: 17px;
  color: #2D5702;
}

.epic-fail {
	color: #C7200A;
	cursor: pointer;
}

.epic-fail-voted {
  color: #630202;
}


.epic-win:hover {
  color: #2D5702;
}

.epic-fail:hover {
  color: #630202;
}
