@import url('https://fonts.googleapis.com/css?family=Bungee');

.navbar-arijunk {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  min-height: 75px;
  h3 {
    margin: 2px 2px;
  }
  padding: 0;
  width: 100%;
  a {
    text-decoration: none;
    color: #3faf48;
  }
  background-color: white;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}

.nav-btns {
  display: flex;
  align-items: center;
  margin-right: 50px;
  p {
    padding: 30px;
    margin: 0 0;
    font-weight: 600;
  }
}

.logo {
  h3 {
    margin-left: 70px;
    font-family: 'Bungee', cursive;
  }
}

.avatar {
  border-radius: 50%;
  cursor: pointer;
}

// Dropdown menu

.avatar-dropdown {
  text-align: left;
}